FDclientSample/FDcalc/src/main/webapp/wsdl/Fdservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.fdservice.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.fdservice.com" xmlns:intf="http://service.fdservice.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.fdservice.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculateFD">
    <complexType>
     <sequence>
      <element name="amount" type="xsd:double"/>
      <element name="noOfDays" type="xsd:int"/>
      <element name="ageOfACHolder" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateFDResponse">
    <complexType>
     <sequence>
      <element name="calculateFDReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateFDRequest">

      <wsdl:part element="impl:calculateFD" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateFDResponse">

      <wsdl:part element="impl:calculateFDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Fdservice">

      <wsdl:operation name="calculateFD">

         <wsdl:input message="impl:calculateFDRequest" name="calculateFDRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateFDResponse" name="calculateFDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FdserviceSoapBinding" type="impl:Fdservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculateFD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateFDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateFDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FdserviceService">

      <wsdl:port binding="impl:FdserviceSoapBinding" name="Fdservice">

         <wsdlsoap:address location="http://localhost:8080/FDcalc/services/Fdservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
